# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Electron
*.asar

# Flash PPAPI - baixar no CI
flash/*.so
flash/*.dll
